/*** Universal Styles ***/
:root {
    --mainColour: #89CFF0;
    --secondaryColour: #9DD9F3;
    --tertiaryColour: #B8E2F2;
    --contrastingColour: #94C58C;
}

html, * {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background: -webkit-gradient(linear, left top, right top, from(#ADA996), color-stop(#F2F2F2), color-stop(#DBDBDB), to(#EAEAEA));
    background: -o-linear-gradient(left, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
    background: linear-gradient(to right, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
}

body, main, footer {
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button > * {
    pointer-events: none;
}

/*========================= MAIN =========================*/

/*** Wrapper that sizes the calculator according to screen size ***/
.wrapper {
    width: min(100%, 350px);
    aspect-ratio: 1 / 1.75;
    margin: 0 auto;
}

/*** Styles for outline and layout of contents of the Calculator ***/
.calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin: auto;
    border: 6px solid black;
    border-radius: 20px;
    background-color: var(--mainColour);
}

/*** Styles for the output display ***/
.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25%;
}

.display-both {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 97%;
}

.display-both p {
    margin: 5px;
    white-space: nowrap;
}

.display-upper {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 33%;
    font-size: 1rem;
}

.display-main {
    height: 66%;
    font-size: 3rem;
    font-weight: 600;
}

/*** Styles for the memory buttons ***/
.memory {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 8%;
}

.memory-button {
    margin: 2px;
    border: none;
    background-color: inherit;
}

#memory-M-List span {
    margin: auto 2px;
    font-size: 10px;
}

.memory-button:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

@media screen and (min-width: 801px) {
    .memory-button:hover {
        font-weight: 600;
    }
}

/*** Styles for the keypad ***/
.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 67%;
}

#keypad-delete img {
    width: 50%;
}

.keypad-button {
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--secondaryColour);
    font-weight: 600;
    font-size: 1.2rem;
}

.keypad-button:nth-child(n+9):nth-child(-n+11),
.keypad-button:nth-child(n+13):nth-child(-n+15),
.keypad-button:nth-child(n+17):nth-child(-n+19),
.keypad-button:nth-child(n+21):nth-child(-n+23) {
    background-color: var(--tertiaryColour);
}

.keypad-button:nth-last-child(1) {
    background-color: var(--contrastingColour);
}

.keypad-button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

@media screen and (min-width: 801px) {
    .keypad-button:hover {
        border: 3px solid black;
    }
}

/*** Styling of Memory List ***/
#memory-overlay {
    position: absolute;
    z-index: 50;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: min(calc(95% - 11px), calc((350px * 0.95) - 11px));
    aspect-ratio: 1 / 1.875;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

#overlay {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#memory-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 68%;
    border-radius: 0 0 15px 15px;
    background-color: var(--secondaryColour);
    overflow: auto;
    -webkit-animation: openMemory 300ms linear;
    animation: openMemory 300ms linear;
}

@-webkit-keyframes openMemory {
    0% {height: 0%}
    100% {height: 68%}
}
@keyframes openMemory {
    0% {height: 0%}
    100% {height: 68%}
}

/*** Styling for items in memory list ***/
.memory-item {
    height: 80px;
    width: 95%;
    margin: 15px auto 5px auto;
    border-radius: 5px;
} 

.memory-item:hover {
    background-color: var(--tertiaryColour);
}

.memory-item p {
    padding: 10px 10px;
    margin: 0;
    text-align: right;
    font-size: 1.25rem;
    font-weight: bold;
}

.memory-item button {
    float: right;
    width: 35px;
    height: 25px;
    margin: 0 8px 5px 0;
    border: none;
    border-radius: 5px;
    background-color: inherit;
}

.memory-item button:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

@media screen and (min-width: 801px) {
    .memory-item button:hover {
        font-weight: 600;
    }
}


.clear-memory {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

#clear-memory {
    width: 32px;
    height: 32px;
    margin: 5px;
    border: none;
    background-color: inherit;
}

#clear-memory:active {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

.memoryIsEmpty {
    margin: 10px 10px;
    font-weight: 500;
}

/*========================= Footer =========================*/

footer {
    height: 25px;
    padding-right: 20px;
    text-align: right;
}
